<h1>Listing trading_accounts</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trading_accounts.each do |trading_account| %>
  <tr>
    <td><%= link_to 'Show', trading_account %></td>
    <td><%= link_to 'Edit', edit_trading_account_path(trading_account) %></td>
    <td><%= link_to 'Destroy', trading_account, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trading account', new_trading_account_path %>
