<%= form_for(@trading_evolution) do |f| %>
  <% if @trading_evolution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trading_evolution.errors.count, "error") %> prohibited this trading_evolution from being saved:</h2>

      <ul>
      <% @trading_evolution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
